.absolute {
  position: absolute
}

.relative {
  position: relative
}

.top-0 {
  top: 0px
}

.bottom-0 {
  bottom: 0px
}

.bottom-3 {
  bottom: 0.75rem
}

.right-3 {
  right: 0.75rem
}

.bottom-14 {
  bottom: 3.5rem
}

.top-1 {
  top: 0.25rem
}

.right-0 {
  right: 0px
}

.left-0 {
  left: 0px
}

.z-20 {
  z-index: 20
}

.z-10 {
  z-index: 10
}

.m-0 {
  margin: 0px
}

.m-5 {
  margin: 1.25rem
}

.-m-2 {
  margin: -0.5rem
}

.m-2 {
  margin: 0.5rem
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem
}

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.mx-8 {
  margin-left: 2rem;
  margin-right: 2rem
}

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem
}

.mt-5 {
  margin-top: 1.25rem
}

.ml-2 {
  margin-left: 0.5rem
}

.mr-2 {
  margin-right: 0.5rem
}

.ml-4 {
  margin-left: 1rem
}

.mb-2 {
  margin-bottom: 0.5rem
}

.mt-2 {
  margin-top: 0.5rem
}

.mt-1 {
  margin-top: 0.25rem
}

.mb-1 {
  margin-bottom: 0.25rem
}

.mr-2\.5 {
  margin-right: 0.625rem
}

.ml-5 {
  margin-left: 1.25rem
}

.ml-1\.5 {
  margin-left: 0.375rem
}

.ml-1 {
  margin-left: 0.25rem
}

.mr-4 {
  margin-right: 1rem
}

.mb-6 {
  margin-bottom: 1.5rem
}

.mb-5 {
  margin-bottom: 1.25rem
}

.mr-1 {
  margin-right: 0.25rem
}

.mt-7 {
  margin-top: 1.75rem
}

.mb-8 {
  margin-bottom: 2rem
}

.mr-1\.5 {
  margin-right: 0.375rem
}

.mt-1\.5 {
  margin-top: 0.375rem
}

.mt-8 {
  margin-top: 2rem
}

.ml-3 {
  margin-left: 0.75rem
}

.-ml-2 {
  margin-left: -0.5rem
}

.mt-3 {
  margin-top: 0.75rem
}

.mb-14 {
  margin-bottom: 3.5rem
}

.mt-14 {
  margin-top: 3.5rem
}

.mr-3 {
  margin-right: 0.75rem
}

.mb-10 {
  margin-bottom: 2.5rem
}

.mt-6 {
  margin-top: 1.5rem
}

.mb-3 {
  margin-bottom: 0.75rem
}

.mt-3\.5 {
  margin-top: 0.875rem
}

.mt-0 {
  margin-top: 0px
}

.mb-4 {
  margin-bottom: 1rem
}

.mt-0\.5 {
  margin-top: 0.125rem
}

.mt-10 {
  margin-top: 2.5rem
}

.mt-4 {
  margin-top: 1rem
}

.mb-1\.5 {
  margin-bottom: 0.375rem
}

.mb-7 {
  margin-bottom: 1.75rem
}

.mb-9 {
  margin-bottom: 2.25rem
}

.ml-12 {
  margin-left: 3rem
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.h-full {
  height: 100%
}

.h-2 {
  height: 0.5rem
}

.h-12 {
  height: 3rem
}

.h-14 {
  height: 3.5rem
}

.h-3 {
  height: 0.75rem
}

.h-6 {
  height: 1.5rem
}

.h-10 {
  height: 2.5rem
}

.h-2\.5 {
  height: 0.625rem
}

.h-1 {
  height: 0.25rem
}

.h-5 {
  height: 1.25rem
}

.h-28 {
  height: 7rem
}

.h-11 {
  height: 2.75rem
}

.h-px {
  height: 1px
}

.h-8 {
  height: 2rem
}

.h-40 {
  height: 10rem
}

.h-32 {
  height: 8rem
}

.min-h-full {
  min-height: 100%
}

.w-full {
  width: 100%
}

.w-10 {
  width: 2.5rem
}

.w-2\/6 {
  width: 33.333333%
}

.w-3\/4 {
  width: 75%
}

.w-6 {
  width: 1.5rem
}

.w-5 {
  width: 1.25rem
}

.w-28 {
  width: 7rem
}

.w-64 {
  width: 16rem
}

.w-14 {
  width: 3.5rem
}

.w-8 {
  width: 2rem
}

.w-16 {
  width: 4rem
}

.w-20 {
  width: 5rem
}

.w-2 {
  width: 0.5rem
}

.w-40 {
  width: 10rem
}

.w-32 {
  width: 8rem
}

.w-48 {
  width: 12rem
}

.w-12 {
  width: 3rem
}

.min-w-full {
  min-width: 100%
}

.flex-1 {
  flex: 1 1 0%
}

.flex-shrink {
  flex-shrink: 1
}

.flex-grow {
  flex-grow: 1
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.items-start {
  align-items: flex-start
}

.items-end {
  align-items: flex-end
}

.items-center {
  align-items: center
}

.items-stretch {
  align-items: stretch
}

.justify-start {
  justify-content: flex-start
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.justify-around {
  justify-content: space-around
}

.self-center {
  align-self: center
}

.overflow-hidden {
  overflow: hidden
}

.rounded-lg {
  border-radius: 0.5rem
}

.rounded-xl {
  border-radius: 0.75rem
}

.rounded {
  border-radius: 0.25rem
}

.rounded-md {
  border-radius: 0.375rem
}

.rounded-2xl {
  border-radius: 1rem
}

.rounded-full {
  border-radius: 9999px
}

.rounded-3xl {
  border-radius: 1.5rem
}

.rounded-t-xl {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem
}

.rounded-b-xl {
  border-bottom-right-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem
}

.rounded-r-xl {
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem
}

.rounded-b-full {
  border-bottom-right-radius: 9999px;
  border-bottom-left-radius: 9999px
}

.rounded-t-2xl {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem
}

.rounded-l-xl {
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem
}

.rounded-tl {
  border-top-left-radius: 0.25rem
}

.rounded-bl {
  border-bottom-left-radius: 0.25rem
}

.rounded-tr {
  border-top-right-radius: 0.25rem
}

.rounded-br {
  border-bottom-right-radius: 0.25rem
}

.border {
  border-width: 1px
}

.border-0 {
  border-width: 0px
}

.border-t {
  border-top-width: 1px
}

.border-b {
  border-bottom-width: 1px
}

.border-neutral-30 {
  --tw-border-opacity: 1;
  border-color: rgb(235 236 240 / var(--tw-border-opacity))
}

.border-gray-20 {
  --tw-border-opacity: 1;
  border-color: rgb(209 209 215 / var(--tw-border-opacity))
}

.border-primary {
  --tw-border-opacity: 1;
  border-color: rgb(0 102 255 / var(--tw-border-opacity))
}

.border-red- {
  --tw-border-opacity: 1;
  border-color: rgb(255 13 0 / var(--tw-border-opacity))
}

.border-orange- {
  --tw-border-opacity: 1;
  border-color: rgb(255 149 0 / var(--tw-border-opacity))
}

.border-green- {
  --tw-border-opacity: 1;
  border-color: rgb(50 195 86 / var(--tw-border-opacity))
}

.border-gray-10 {
  --tw-border-opacity: 1;
  border-color: rgb(229 229 235 / var(--tw-border-opacity))
}

.border-neutral-20 {
  --tw-border-opacity: 1;
  border-color: rgb(244 245 247 / var(--tw-border-opacity))
}

.border-neutral-500 {
  --tw-border-opacity: 1;
  border-color: rgb(66 82 110 / var(--tw-border-opacity))
}

.border-black\/5 {
  border-color: rgb(0 0 0 / 0.05)
}

.border-red-50 {
  --tw-border-opacity: 1;
  border-color: rgb(250 77 86 / var(--tw-border-opacity))
}

.border-gray-5 {
  --tw-border-opacity: 1;
  border-color: rgb(243 243 248 / var(--tw-border-opacity))
}

.bg-gray-40 {
  --tw-bg-opacity: 1;
  background-color: rgb(174 174 179 / var(--tw-bg-opacity))
}

.bg-blue-60 {
  --tw-bg-opacity: 1;
  background-color: rgb(15 98 254 / var(--tw-bg-opacity))
}

.bg-gray-5 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 243 248 / var(--tw-bg-opacity))
}

.bg-blue-10 {
  --tw-bg-opacity: 1;
  background-color: rgb(237 245 255 / var(--tw-bg-opacity))
}

.bg-red- {
  --tw-bg-opacity: 1;
  background-color: rgb(255 13 0 / var(--tw-bg-opacity))
}

.bg-primary\/10 {
  background-color: rgb(0 102 255 / 0.1)
}

.bg-gray-10 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 229 235 / var(--tw-bg-opacity))
}

.bg-neutral-30 {
  --tw-bg-opacity: 1;
  background-color: rgb(235 236 240 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-neutral-10 {
  --tw-bg-opacity: 1;
  background-color: rgb(250 251 252 / var(--tw-bg-opacity))
}

.bg-neutral-20 {
  --tw-bg-opacity: 1;
  background-color: rgb(244 245 247 / var(--tw-bg-opacity))
}

.bg-green-10 {
  --tw-bg-opacity: 1;
  background-color: rgb(222 251 230 / var(--tw-bg-opacity))
}

.bg-black\/60 {
  background-color: rgb(0 0 0 / 0.6)
}

.bg-neutral-70 {
  --tw-bg-opacity: 1;
  background-color: rgb(165 173 186 / var(--tw-bg-opacity))
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.bg-transparent {
  background-color: rgb(0,0,0,0)
}

.bg-gray-5\/50 {
  background-color: rgb(243 243 248 / 0.5)
}

.bg-red-60 {
  --tw-bg-opacity: 1;
  background-color: rgb(218 30 40 / var(--tw-bg-opacity))
}

.bg-blue-30 {
  --tw-bg-opacity: 1;
  background-color: rgb(166 200 255 / var(--tw-bg-opacity))
}

.bg-primary-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(0 88 219 / var(--tw-bg-opacity))
}

.p-0 {
  padding: 0px
}

.p-5 {
  padding: 1.25rem
}

.p-2 {
  padding: 0.5rem
}

.p-4 {
  padding: 1rem
}

.p-3 {
  padding: 0.75rem
}

.p-1 {
  padding: 0.25rem
}

.p-6 {
  padding: 1.5rem
}

.p-3\.5 {
  padding: 0.875rem
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.py-3\.5 {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem
}

.py-1\.5 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.px-3\.5 {
  padding-left: 0.875rem;
  padding-right: 0.875rem
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.py-2\.5 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem
}

.py-0\.5 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem
}

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.px-9 {
  padding-left: 2.25rem;
  padding-right: 2.25rem
}

.px-2\.5 {
  padding-left: 0.625rem;
  padding-right: 0.625rem
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px
}

.pl-4 {
  padding-left: 1rem
}

.pt-6 {
  padding-top: 1.5rem
}

.pb-4 {
  padding-bottom: 1rem
}

.pl-3\.5 {
  padding-left: 0.875rem
}

.pl-3 {
  padding-left: 0.75rem
}

.pr-3\.5 {
  padding-right: 0.875rem
}

.pr-3 {
  padding-right: 0.75rem
}

.pl-5 {
  padding-left: 1.25rem
}

.pb-1 {
  padding-bottom: 0.25rem
}

.pt-5 {
  padding-top: 1.25rem
}

.pb-10 {
  padding-bottom: 2.5rem
}

.pt-1 {
  padding-top: 0.25rem
}

.pb-1\.5 {
  padding-bottom: 0.375rem
}

.pr-4 {
  padding-right: 1rem
}

.pt-1\.5 {
  padding-top: 0.375rem
}

.pb-2 {
  padding-bottom: 0.5rem
}

.pr-5 {
  padding-right: 1.25rem
}

.pt-8 {
  padding-top: 2rem
}

.pb-6 {
  padding-bottom: 1.5rem
}

.pt-3 {
  padding-top: 0.75rem
}

.pb-3 {
  padding-bottom: 0.75rem
}

.pt-7 {
  padding-top: 1.75rem
}

.pt-4 {
  padding-top: 1rem
}

.pb-8 {
  padding-bottom: 2rem
}

.pl-2\.5 {
  padding-left: 0.625rem
}

.pl-2 {
  padding-left: 0.5rem
}

.text-left {
  text-align: left
}

.text-center {
  text-align: center
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.text-supporting-2 {
  font-size: 0.625rem;
  line-height: 0.75rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.font-normal {
  font-weight: 400
}

.font-semibold {
  font-weight: 600
}

.font-bold {
  font-weight: 700
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-red-60 {
  --tw-text-opacity: 1;
  color: rgb(218 30 40 / var(--tw-text-opacity))
}

.text-gray-40 {
  --tw-text-opacity: 1;
  color: rgb(174 174 179 / var(--tw-text-opacity))
}

.text-gray-80 {
  --tw-text-opacity: 1;
  color: rgb(58 58 59 / var(--tw-text-opacity))
}

.text-blue-60 {
  --tw-text-opacity: 1;
  color: rgb(15 98 254 / var(--tw-text-opacity))
}

.text-blue-70 {
  --tw-text-opacity: 1;
  color: rgb(0 67 206 / var(--tw-text-opacity))
}

.text-neutral-30 {
  --tw-text-opacity: 1;
  color: rgb(235 236 240 / var(--tw-text-opacity))
}

.text-red-dark {
  --tw-text-opacity: 1;
  color: rgb(230 11 0 / var(--tw-text-opacity))
}

.text-primary {
  --tw-text-opacity: 1;
  color: rgb(0 102 255 / var(--tw-text-opacity))
}

.text-neutral-700 {
  --tw-text-opacity: 1;
  color: rgb(37 56 88 / var(--tw-text-opacity))
}

.text-green- {
  --tw-text-opacity: 1;
  color: rgb(50 195 86 / var(--tw-text-opacity))
}

.text-red- {
  --tw-text-opacity: 1;
  color: rgb(255 13 0 / var(--tw-text-opacity))
}

.text-gray-30 {
  --tw-text-opacity: 1;
  color: rgb(199 199 205 / var(--tw-text-opacity))
}

.text-neutral-100 {
  --tw-text-opacity: 1;
  color: rgb(122 134 154 / var(--tw-text-opacity))
}

.text-green-40 {
  --tw-text-opacity: 1;
  color: rgb(66 190 101 / var(--tw-text-opacity))
}

.text-yellow-30 {
  --tw-text-opacity: 1;
  color: rgb(241 194 27 / var(--tw-text-opacity))
}

.text-red-50 {
  --tw-text-opacity: 1;
  color: rgb(250 77 86 / var(--tw-text-opacity))
}

.text-neutral-20 {
  --tw-text-opacity: 1;
  color: rgb(244 245 247 / var(--tw-text-opacity))
}

.text-neutral-80 {
  --tw-text-opacity: 1;
  color: rgb(151 160 175 / var(--tw-text-opacity))
}

.text-gray-60 {
  --tw-text-opacity: 1;
  color: rgb(99 99 103 / var(--tw-text-opacity))
}

.text-neutral-200 {
  --tw-text-opacity: 1;
  color: rgb(107 119 140 / var(--tw-text-opacity))
}

.text-yellow-40 {
  --tw-text-opacity: 1;
  color: rgb(210 161 6 / var(--tw-text-opacity))
}

.text-neutral-300 {
  --tw-text-opacity: 1;
  color: rgb(94 108 132 / var(--tw-text-opacity))
}

.text-blue-30 {
  --tw-text-opacity: 1;
  color: rgb(166 200 255 / var(--tw-text-opacity))
}

.text-neutral-500 {
  --tw-text-opacity: 1;
  color: rgb(66 82 110 / var(--tw-text-opacity))
}

.text-neutral-60 {
  --tw-text-opacity: 1;
  color: rgb(179 186 197 / var(--tw-text-opacity))
}

.text-blue-40 {
  --tw-text-opacity: 1;
  color: rgb(120 169 255 / var(--tw-text-opacity))
}

.text-green-50 {
  --tw-text-opacity: 1;
  color: rgb(36 161 72 / var(--tw-text-opacity))
}

.text-gray-10 {
  --tw-text-opacity: 1;
  color: rgb(229 229 235 / var(--tw-text-opacity))
}

.text-orange- {
  --tw-text-opacity: 1;
  color: rgb(255 149 0 / var(--tw-text-opacity))
}

.text-primary-dark {
  --tw-text-opacity: 1;
  color: rgb(0 88 219 / var(--tw-text-opacity))
}

.text-yellow- {
  --tw-text-opacity: 1;
  color: rgb(255 204 0 / var(--tw-text-opacity))
}

.text-neutral-900 {
  --tw-text-opacity: 1;
  color: rgb(9 30 66 / var(--tw-text-opacity))
}

.text-blue-90 {
  --tw-text-opacity: 1;
  color: rgb(0 29 108 / var(--tw-text-opacity))
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.text-gray-50 {
  --tw-text-opacity: 1;
  color: rgb(142 142 148 / var(--tw-text-opacity))
}

.text-red-70 {
  --tw-text-opacity: 1;
  color: rgb(162 25 31 / var(--tw-text-opacity))
}

.text-neutral-600 {
  --tw-text-opacity: 1;
  color: rgb(52 69 99 / var(--tw-text-opacity))
}

.text-gray-20 {
  --tw-text-opacity: 1;
  color: rgb(209 209 215 / var(--tw-text-opacity))
}

.text-green-60 {
  --tw-text-opacity: 1;
  color: rgb(25 128 56 / var(--tw-text-opacity))
}

.opacity-50 {
  opacity: 0.5
}

.opacity-40 {
  opacity: 0.4
}

.opacity-100 {
  opacity: 1
}

.opacity-30 {
  opacity: 0.3
}
