<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>407912627452-s39p81ojes20f59q16ohbgik2vvthf5e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407912627452-s39p81ojes20f59q16ohbgik2vvthf5e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>407912627452-qqa4su8l5c6625nov4l4s4ospk7bb50q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBawLdjKo_g5XsySaBfeTHbnzWK-MJjdrI</string>
	<key>GCM_SENDER_ID</key>
	<string>407912627452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.internxt.snacks</string>
	<key>PROJECT_ID</key>
	<string>drive-mobile-fd4b2</string>
	<key>STORAGE_BUCKET</key>
	<string>drive-mobile-fd4b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407912627452:ios:1caa492bdc00e358a3ab79</string>
</dict>
</plist>
