{
  "APP_BUILD_NUMBER": 0,
  "DEBUG": false,
  "SHOW_BILLING": true,
  "WEB_CLIENT_URL": "",
  "DRIVE_API_URL": "",
  "DRIVE_NEW_API_URL": "",
  "BRIDGE_URL": "",
  "PHOTOS_API_URL": "",
  "PAYMENTS_API_URL": "",
  "PHOTOS_NETWORK_API_URL": "",
  "CRYPTO_SECRET": "",
  "CRYPTO_SECRET2": "",
  "MAGIC_IV": "",
  "MAGIC_SALT": "",
  "RECAPTCHA_V3": "",
  "DATAPLANE_URL": "",
  "ANALYTICS_WRITE_KEY": "",
  "SENTRY_DSN": "",
  "SENTRY_ORGANIZATION": "",
  "SENTRY_PROJECT": "",
  "SENTRY_URL": "",
  "SENTRY_AUTH_TOKEN": ""
}
