{
  "APP_BUILD_NUMBER": 0,
  "IOS_BUILD_NUMBER": 1,
  "ANDROID_VERSION_CODE": 1,
  "DEBUG": false,
  "WEB_CLIENT_URL": "",
  "DRIVE_API_URL": "",
  "DRIVE_NEW_API_URL": "",
  "BRIDGE_URL": "",
  "PAYMENTS_API_URL": "",
  "CRYPTO_SECRET": "",
  "CRYPTO_SECRET2": "",
  "MAGIC_IV": "",
  "MAGIC_SALT": "",
  "RECAPTCHA_V3": "",
  "DATAPLANE_URL": "",
  "ANALYTICS_WRITE_KEY": "",
  "SENTRY_DSN": "",
  "SENTRY_ORGANIZATION": "",
  "SENTRY_PROJECT": "",
  "SENTRY_URL": "",
  "SENTRY_AUTH_TOKEN": "",
  "NOTIFICATIONS_URL": "",
  "SHARE_LINKS_URL": ""
}
