{
  "REACT_NATIVE_APP_BUILD_NUMBER": 0,
  "REACT_NATIVE_WEB_CLIENT_URL": "",
  "REACT_NATIVE_DRIVE_API_URL": "",
  "REACT_NATIVE_BRIDGE_URL": "",
  "REACT_NATIVE_PHOTOS_API_URL": "",
  "REACT_NATIVE_PHOTOS_NETWORK_API_URL": "",
  "REACT_NATIVE_CRYPTO_SECRET": "",
  "REACT_NATIVE_CRYPTO_SECRET2": "",
  "REACT_NATIVE_MAGIC_IV": "",
  "REACT_NATIVE_MAGIC_SALT": "",
  "REACT_NATIVE_RECAPTCHA_V3": "",
  "REACT_NATIVE_SEGMENT_API": ""
}
